ion-toolbar {
  --ion-text-color: #000000;
  --background: #EEF1F4;
  --ion-toolbar-border-color: #EEF1F4;
  ion-title {
      text-align: center;
  }

  ion-button {
    --background: #EEF1F4;
    ion-back-button: #000000;
  }
}

ion-content {
  --background: #EEF1F4;
}

ion-item {
  --background: #EEF1F4;
  --ion-item-border-color: #EEF1F4;
  --ion-text-color: #000000;  

  ion-text {
    margin-left: 5%;
  }
}


.img {
  margin-left: 80px;
}

.img2 {
 margin-left: 140px;  
}

.img3 {
  margin-left: 130px;
}
