<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-button slot="start">
      <ion-back-button  color="danger" defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Location</ion-title >
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <img src="../../assets/estados-unidos-da-america.png" />
    <ion-text> United States</ion-text>
  </ion-item>
  <ion-item>
    <img src="../../assets//china.png" />
    <ion-text> China </ion-text>
  </ion-item>
  <ion-item>
    <img src="../../assets/franca.png" />
    <ion-text> França</ion-text>
  </ion-item>

</ion-content>

