<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      One VPN
    </ion-title>
      
       <ion-button slot="end">
          <ion-icon  name="settings-sharp"></ion-icon>
       </ion-button>
      <ion-button slot="start">
        <ion-icon name="filter-sharp"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <img src="{{logopng}}" (click)="toggleIcon();"/>
    <ion-title>{{logoname}} </ion-title>
    <ion-button href="location" shape="round">
      <ion-icon slot="end" name="ellipse-sharp"></ion-icon>
    </ion-button>
  
  </ion-item>
  
<ion-card>
  <ion-buttons >
   <ion-button>
    <ion-icon name="remove-outline"></ion-icon>
   </ion-button>
   <ion-button>
    <ion-icon  name="finger-print-outline"></ion-icon>
   </ion-button>
   <ion-button>
     <ion-icon name="remove-outline"></ion-icon>
   </ion-button>
  </ion-buttons>
</ion-card>
 
</ion-content>


