<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      One VPN
    </ion-title>
      
       <ion-button slot="start">
          <ion-icon  name="settings-sharp"></ion-icon>
       </ion-button>
      <ion-button slot="end">
        <ion-icon name="filter-sharp"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <img src="../../assets/estados-unidos-da-america.png" />
    <ion-title>United States</ion-title>
    <ion-button href="location" shape="round">
      <ion-icon slot="end" name="ellipse-sharp"></ion-icon>
    </ion-button>
  
  </ion-item>
  
</ion-content>
