ion-toolbar {
  --background: #f1f1f1;
  --ion-text-color: #000000;
  border-radius: 0 0 28px 28px;
  --ion-toolbar-border-color: #f1f1f1;

  ion-title {
    text-align: center;
  }

  ion-button {
    --background: #f1f1f1;
  }
}

ion-content {
  --background: #f2f2f2;

  ion-item {
    border-radius: 28px 28px 28px 28px;
    margin-top:60px;
    --background: #b3b3b3;
    --ion-text-color: #000000;
    --ion-toolbar-border-color: #b3b3b3;
    
    ion-title {
      
      text-align: center;
      padding: 3px;
    }
    ion-button {
      --background: #b3b3b3;
    }

    img {
      padding: 1%;
    }
  }
}

